<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments :: head (titulo='Descripcion Usuarios')"></head>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container mt-4">
    <h2 class="pb-2 mb-4 text-uppercase text-dark">Descripción del usuario</h2>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>Identificador de usuario</th>
            <th>Correo Electrónico</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
        </tr>
        </thead>
        <tbody>


    </table>

</div>>
</body>
</html>