<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Usuarios Registrados')"></head>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="container mt-4">
    <h2 class="pb-2 mb-4 text-uppercase text-dark">Usuarios registrados</h2>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>Identificador de usuario</th>
            <th>Correo Electrónico</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}">idUsuario</td>
            <td th:text="${usuario.email}">correo@example.com</td>
            <td><a href="descripcionUsuarios.html">Ver datos del usuario</a></td>>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments::javascript"/>
</body>
</html>
